<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izv.dam.newquip">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_add_note"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            -->
        <!-- QUIP -->
        <activity android:name=".vistas.main.VistaQuip"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.izv.dam.newquip.vistas.main.VistaQuip"
                android:resource="@xml/searchable" />
        </activity>
        <!--
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            -->
        <!-- NOTA -->
        <activity
            android:name=".vistas.notas.VistaNota"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.izv.dam.newquip.vistas.main.VistaQuip" />
        </activity>

        <!-- Notification -->
        <activity
            android:name=".vistas.notification.Notificacion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.izv.dam.newquip.vistas.main.VistaQuip" />
        </activity>

        <activity
            android:name=".vistas.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <provider
            android:name=".proveedor.ProveedorQuip"
            android:authorities="com.izv.dam.newquip.proveedor"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".broadcast.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>